In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
from IPython.display import display
import string
import emoji
import re
from nltk.stem import PorterStemmer
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
df = pd.read_csv('data.csv')
df

                                                  tweet  intention
0     my life is meaningless i just want to end my l...          1
1     muttering i wanna die to myself daily for a fe...          1
2     work slave i really feel like my only purpose ...          1
3     i did something on the 2 of october i overdose...          1
4     i feel like no one cares i just want to die ma...          1
...                                                 ...        ...
9114  have you ever laid on your bed at night and cr...          1
9115  the fault the blame the pain s still there i m...          1
9116  stop asking me to trust you when i m still cou...          1
9117  i never know how to handle sadness crying make...          1
9118  when cancer takes a life we blame cancer depre...          1

[9119 rows x 2 columns]

# preprocessing

## convet to lower case

In [7]:
df['tweet'] = df['tweet'].apply(lambda tw: tw.lower())

## Remove punctuation

In [16]:
df['tweet'] = df['tweet'].apply(lambda tw: tw.translate(str.maketrans('', '', string.punctuation)))

## Remove digits

In [ ]:
df['tweet'] = df['tweet'].apply(lambda tw: tw.translate(str.maketrans('', '', string.digits)))

## Remove links

In [18]:
df['tweet'] = df['tweet'].str.replace('http\S+|www.\S+', '', case=False)

## Remove tag

In [ ]:
df['tweet'] = df['tweet'].str.replace('@\S+', '', case=False)

## Remove emoji

In [22]:
df['tweet'] = df['tweet'].apply(lambda tw: emoji.demojize(tw))

## Remove term not word

In [27]:
df['tweet'] = df['tweet'].map(lambda x: re.sub(r'[^a-z ]+', '', x))

## Tokenize

In [34]:
df['tweet'] = df['tweet'].apply(lambda x: [PorterStemmer().stem(word) for word in nltk.word_tokenize(x)])

## Remove stop words

In [40]:
stop_words = set(stopwords.words('english'))
df['tweet'] = df['tweet'].apply(lambda x: [word for word in x if word not in stop_words])

In [41]:
df

                                                  tweet  intention
0     [life, meaningless, want, end, life, badli, li...          1
1     [mutter, wan, na, die, daili, month, feel, wor...          1
2     [work, slave, realli, feel, like, onli, purpos...          1
3     [someth, octob, overdos, felt, alon, horribl, ...          1
4     [feel, like, one, care, want, die, mayb, feel,...          1
...                                                 ...        ...
9114  [ever, laid, bed, night, cri, becaus, good, en...          1
9115  [fault, blame, pain, still, alon, insid, thi, ...          1
9116  [stop, ask, trust, still, cough, water, last, ...          1
9117  [never, know, handl, sad, cri, make, feel, stu...          1
9118  [cancer, take, life, blame, cancer, depress, d...          1

[9119 rows x 2 columns]